nav {
  background-color: rgb(50, 50, 243);
  text-align: center;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: none;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

div {
  background-color: white;
  border-radius: 50px;
  border-color: black;
  text-align: center;
  gap: px;
  margin: 50px;
  padding: 30px;
  align-content: center;
}
div img {
  width: 200px;
  height: 200px;
  background-color: white;
}
* {
  background-color: aquamarine;
  align-content: center;
}
h1 {
  background-color: rgb(50, 50, 243);
}
h3 {
  background-color: rgb(50, 50, 243);
}
p {
  text-align: center;
  background-color: white;
  font-size: larger;
}
.keahlian {
  text-align: left;
  background-color: white;
}
.new {
  background-color: white;
  color: rgb(8, 100, 100);

  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
}

.dasar {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
li {
  background-color: white;
}
.link {
  background-color: white;
}
.nis {
  background-color: white;
  text-align: left;
  color: rgb(8, 100, 100);
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: bold;
}
.projectny {
  background-color: white;
}
.lik {
  text-align: left;
}
a {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
}
.foot {
  background-color: rgb(50, 50, 243);
  color: white;
}
footer {
  background-color: rgb(50, 50, 243);
  margin-left: auto;
  overflow: hidden;
  
}
i {
  background-color: white;
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}
