h1 {
text-align: center;
color: #ffffff;
background-color: black;
}
.gambar img {
text-align: center;
    
}
p {
color: white;
text-align: center;
}
a {
color: cyan;
}
* {
    background-color: black;
}
